In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use("seaborn")

df = pd.read_excel('https://github.com/diasctiago/dio/blob/main/An%C3%A1lise%20de%20dados%20com%20Python%20e%20Pandas/AdventureWorks.xlsx?raw=true')

In [ ]:
df.head()

In [ ]:
#Verificando o numero de linhas e colunas
df.shape

In [ ]:
#Conhecendo os tipos de dados
df.dtypes

In [ ]:
#Receita Total
df["Valor Venda"].sum()

In [ ]:
#Criando a coluna Custo Total
df["custo"] = df["Custo Unitário"].mul(df["Quantidade"])

In [ ]:
df.head(2)

In [ ]:
#Criando a coluna Trimestre
df['Trimestre'] =df['Data Venda'].dt.quarter
df.head(2)

In [ ]:
#Usando Lambd para criar a coluna semestre
df['Semestre'] = df['Data Venda'].dt.month.apply(lambda x: 1 if x <= 5 else 2)
df.head(2)

In [ ]:
#Cria coluna Ano-Mes
df['Ano_Mes'] = df['Data Venda'].dt.to_period('M').astype(str)

In [ ]:
pip install pandera

In [ ]:
#Verificando dados nulos
df.isnull().sum()

In [ ]:
#usando a biblioteca pandera para validar os dados 
import pandera as pa
schema = pa.DataFrameSchema(columns={
    "Data Venda":pa.Column(pa.DateTime),
    "Data Envio":pa.Column(pa.DateTime),
    "Preço Unitário":pa.Column(pa.Float64),
    "Quantidade":pa.Column(pa.Int64),
    "Valor Venda":pa.Column(pa.Float64)
    })
schema.validate(df)

In [ ]:

#Criando a Coluna Lucro
df["lucro"] = df["Valor Venda"] - df["custo"]
df.head(2)

In [ ]:
#Tempo Dias a Enviar Produto
df["Tempo_envio"] = df["Data Envio"] - df["Data Venda"]
df["Tempo_envio"].dtype
df.head(2)

In [ ]:
#Mudando a Ordem das colunas do dataframe
df2 = df
df2 = df[['Data Venda','Data Envio','Tempo_envio','ID Loja','ID Produto', 'ID Cliente','No. Venda','Produto','Fabricante','Marca','Cor','Custo Unitário','Preço Unitário','Quantidade','Valor Desconto','Valor Venda', 'custo', 'lucro','Trimestre', 'Semestre','Ano_Mes']]
df2.head(2)

In [ ]:
#Qual o total de produtos vendidos?
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=False)

In [ ]:
#Gráfico Total de produtos vendidos
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=True).plot.barh(title="Total de Produtos Vendidos")
plt.xlabel("Total")
plt.ylabel("Produto");

In [ ]:
#Grafico Lucro por Ano
fig, ax = plt.subplots() 
df.groupby(df["Data Venda"].dt.year)["lucro"].sum().plot.bar(title="Lucro por Ano")
plt.xlabel("Ano")
plt.ylabel("Receita");
plt.xticks(rotation=45)

In [ ]:
#Selecionando apenas as vendas de 2009
df_2008 = df[df["Data Venda"].dt.year == 2008]

In [ ]:
df_2008.groupby(df_2008["Data Venda"].dt.month)["lucro"].sum().plot(title="Lucro por mês")
plt.xlabel("Mês")
plt.ylabel("Lucro");

In [ ]:
#Lucro 2008 por Classe
df_2008.groupby("Classe")["lucro"].sum().plot.bar(title="Lucro por Classe")
plt.xlabel("Classe")
plt.ylabel("Lucro")
plt.xticks(rotation='horizontal');

In [ ]:
# Lucro por Marca
df_2009 = df[df["Data Venda"].dt.year == 2009]
df_2009.groupby("Marca")["lucro"].sum().plot.bar(title="Lucro por Marca")
plt.xlabel("Marca")
plt.ylabel("Lucro")
plt.xticks(rotation='horizontal');

In [ ]:
#Lucro 2009 por classe
df_2009.groupby("Classe")["lucro"].sum().plot.bar(title="Lucro por Classe")
plt.xlabel("Classe")
plt.ylabel("Lucro")
plt.xticks(rotation='horizontal');

In [ ]:
#Gráfico de Boxplot para checa outliers
plt.boxplot(df["Tempo_envio"]);